In [35]:
import pandas as pd

df1 = pd.read_csv('/Users/marinelafargue/Desktop/projet calorie/data/best_df_with_age.csv')

df2 = pd.read_csv('/Users/marinelafargue/Desktop/projet calorie/data/df_dum.csv')

In [39]:
# We need to calculate IMC
df2['Height_meters'] = df2['height']/100
df2['calculated_IMC'] = (df2['weight']/df2['Height_meters']**2)

df2.head()

,Unnamed: 0,user_id,age,height,weight,duration,heart_rate,body_temp,calorie,female,male,Height_meters,calculated_IMC
0,0,14733363,68,190.0,94.0,29.0,105.0,40.8,231.0,0,1,1.90,26.038781
1,1,14861698,20,166.0,60.0,14.0,94.0,40.3,66.0,1,0,1.66,21.773842
2,2,11179863,69,179.0,79.0,5.0,88.0,38.7,26.0,0,1,1.79,24.655910
3,3,16180408,34,179.0,71.0,13.0,100.0,40.5,71.0,1,0,1.79,22.159109
4,4,17771927,27,154.0,58.0,10.0,81.0,39.8,35.0,1,0,1.54,24.456063

In [40]:
df_complete = df2.drop(['Unnamed: 0', 'user_id'], axis=1)

In [42]:
df_complete.head(2)

,age,height,weight,duration,heart_rate,body_temp,calorie,female,male,Height_meters,calculated_IMC
0,68,190.0,94.0,29.0,105.0,40.8,231.0,0,1,1.90,26.038781
1,20,166.0,60.0,14.0,94.0,40.3,66.0,1,0,1.66,21.773842

In [47]:
df_complete.to_csv('/Users/marinelafargue/Desktop/projet calorie/data/df_encode_complete_OK.csv')

In [37]:
import pandas as pd

from sklearn.model_selection import KFold

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LassoCV
from sklearn.linear_model import RidgeCV

from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

In [3]:
# Define the X (input) and y (target) features
X = df2[['body_temp','heart_rate']]
y = df2["calorie"]

In [4]:
test_size = 0.40
seed = 100
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)

In [5]:
from xgboost import XGBRegressor

# Create 5 folds
seed = 7
kfold = KFold(n_splits=100, shuffle=True, random_state=seed)

model = XGBRegressor(copy_x=True, fit_intercept=True,n_jobs=None,normalize=False,cv=kfold)
model.fit(X_train, y_train)

[14:22:28] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:480:
Parameters: { copy_x, cv, fit_intercept, normalize } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, copy_x=True,
             cv=KFold(n_splits=100, random_state=7, shuffle=True),
             fit_intercept=True, gamma=0, gpu_id=-1, importance_type='gain',
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=0,
             normalize=False, num_parallel_tree=1, random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [6]:
test_data_pred = model.predict(X_test)

In [7]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y_test, test_data_pred)

13.133867806712786

In [8]:
model.score(X_train, y_train)

0.9211342184786548

In [9]:
model.score(X_test, y_test)

0.9106753136610192

In [10]:
from sklearn.linear_model import ElasticNet

# Create 5 folds
seed = 7
kfold = KFold(n_splits=100, shuffle=True, random_state=seed)

elastic = ElasticNet(random_state=0)
elastic.fit(X_train, y_train)

ElasticNet(random_state=0)

In [11]:
elastic.score(X_train, y_train)

0.8285647848854963

In [12]:
elastic.score(X_test, y_test)

0.829790060165932

In [13]:
# Define the X (input) and y (target) features
X = df2[['body_temp','heart_rate']]
y = df2["calorie"]

In [14]:
test_size = 0.50
seed = 100
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)

In [15]:
# Create 5 folds
randomstate = 20
kfold = KFold(n_splits=10, shuffle=True, random_state=randomstate)

In [16]:
from sklearn.ensemble import BaggingRegressor

In [17]:
bagging = BaggingRegressor(n_estimators = 10, max_samples =0.5, max_features =0.5, verbose = 100)

In [18]:
bagging.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
Building estimator 1 of 10 for this parallel run (total 10)...
Building estimator 2 of 10 for this parallel run (total 10)...
Building estimator 3 of 10 for this parallel run (total 10)...
Building estimator 4 of 10 for this parallel run (total 10)...
Building estimator 5 of 10 for this parallel run (total 10)...
Building estimator 6 of 10 for this parallel run (total 10)...
Building estimator 7 of 10 for this parallel run (total 10)...
Building estimator 8 of 10 for this parallel run (total 10)...
Building estimator 9 of 10 for this parallel run (total 10)...
Building estimator 10 of 10 for this parallel run (total 10)...
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

BaggingRegressor(max_features=0.5, max_samples=0.5, verbose=100)

In [19]:
bagging.score(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

0.896589211686771

In [20]:
bagging.score(X_test, y_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

0.8962126333323983

In [21]:
df2.head(2)

,Unnamed: 0,user_id,age,height,weight,duration,heart_rate,body_temp,calorie,female,male
0,0,14733363,68,190.0,94.0,29.0,105.0,40.8,231.0,0,1
1,1,14861698,20,166.0,60.0,14.0,94.0,40.3,66.0,1,0

In [22]:
# Define the X (input) and y (target) features
#X = df2.drop(['user_id','Unnamed: 0', 'calorie'], axis=1)
X = df2[['heart_rate']]
y = df2["calorie"]