In [7]:
import psycopg
import pandas

In [8]:
! pip install psycopg

Requirement already satisfied: psycopg in /Users/marinelafargue/anaconda3/envs/diet/lib/python3.8/site-packages (3.0.15)
Requirement already satisfied: backports.zoneinfo>=0.2.0 in /Users/marinelafargue/anaconda3/envs/diet/lib/python3.8/site-packages (from psycopg) (0.2.1)

In [9]:
import psycopg
import pandas as pd
import psycopg2

In [ ]:

#conn = psycopg2.connect(
 #       user="clement",
 #       password="postgres",
  #      host="localhost",
   #     port="5432",
    #    database="diet"

In [10]:
param_dic = {
    "host"      : "localhost",
    "database"  : "diet",
    "user"      : "clement",
    "password"  : "password"
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

In [11]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [12]:
# Connect to the database
conn = connect(param_dic)
column_names = ["user_id","gender", "age", "height", "weight", "duration", "heart_rate", "body_temp", "calorie"]
# Execute the "SELECT *" query
df_db = postgresql_to_dataframe(conn, 
"SELECT persons.user_id as id, gender, age, height, weight, duration, heart_rate, body_temp,calorie FROM calories INNER JOIN persons ON calories.user_id = persons.user_id"
                                , column_names)
df_db.head()

Connecting to the PostgreSQL database...
Connection successful

,user_id,gender,age,height,weight,duration,heart_rate,body_temp,calorie
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0

In [ ]:
df_db.shape

In [ ]:
print(df_db.calorie.max())
print(df_db.duration.min())
print(df_db.duration.max())

In [ ]:
df_db.info()

In [ ]:
cor_df = df_db.corr() 
cor_df['calorie'].sort_values(ascending= False)

In [ ]:
x = df_db.drop(columns=['user_id','calorie'])
y = df_db['calorie']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=5)

In [ ]:
#Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_train['gender'] = le.fit_transform(X_train['gender'])
X_test['gender'] = le.fit_transform(X_test['gender'])
X_test

In [ ]:
# Regression lin√©aire simple

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)
lr.score(X_test,y_test)

In [ ]:
# Randon forest

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
rf.score(X_test,y_test)

In [ ]:
#print(rf.predict([[1,68,190.0,94.0,29.0,105.0,40.8]]))

In [ ]:
#print(rf.predict([[0,39,182.0,82.0,3600,150.0,40.0 ]]))

In [ ]:
#load avec pickle

import pickle
# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(rf, open(filename, 'wb'))

In [ ]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

In [ ]:
#load avec joblib
import joblib
joblib.dump(rf, filename)

In [ ]:
# load the model from disk
loaded_model = joblib.load(filename)
result = loaded_model.score(X_test, y_test)
print(result)

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
test_data_prediction = loaded_model.predict(X_test)

In [ ]:
mean_absolute_error(y_test, test_data_prediction)