• Data exercice + calorie : https://www.kaggle.com/fmendes/fmendesdat263xdemos


• Data calorie brulé par sports : https://www.nutristrategy.com/caloriesburned.htm

In [1]:
import pandas as pd
import requests

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
exercice = pd.read_csv('data/exercise.csv')

In [3]:
exercice.columns

Index(['User_ID', 'Gender', 'Age', 'Height', 'Weight', 'Duration',
       'Heart_Rate', 'Body_Temp'],
      dtype='object')

In [4]:
exercice = exercice.rename(columns=
{'Gender': 'Genre', 'Height': 'Taille', 'Weight': 'Poids', 
 'Duration':'Durée','Heart_Rate':'Fréquence_cardiaque', 
 'Body_Temp':'Température_du_corps'})

exercice = exercice.replace({'male': 'Homme', 'female': 'Femme'})

In [5]:
exercice

,User_ID,Genre,Age,Taille,Poids,Durée,Fréquence_cardiaque,Température_du_corps
0,14733363,Homme,68,190.0,94.0,29.0,105.0,40.8
1,14861698,Femme,20,166.0,60.0,14.0,94.0,40.3
2,11179863,Homme,69,179.0,79.0,5.0,88.0,38.7
3,16180408,Femme,34,179.0,71.0,13.0,100.0,40.5
4,17771927,Femme,27,154.0,58.0,10.0,81.0,39.8
...,...,...,...,...,...,...,...,...
14995,15644082,Femme,20,193.0,86.0,11.0,92.0,40.4
14996,17212577,Femme,27,165.0,65.0,6.0,85.0,39.2
14997,17271188,Femme,43,159.0,58.0,16.0,90.0,40.1
14998,18643037,Homme,78,193.0,97.0,2.0,84.0,38.3
14999,11751526,Homme,63,173.0,79.0,18.0,92.0,40.5

In [6]:
sports = pd.read_csv('data/sports_calories.csv', sep=';') 
sports = sports.rename(columns={
"130 livres": "59 kg", 
"155 livres": "70.3 kg", 
"180 livres": "81.6 kg", 
"205 livres":"93 kg"})

In [7]:
sports

,"Activité, Exercice ou Sport (1 heure)",59 kg,70.3 kg,81.6 kg,93 kg
0,"Cyclisme, VTT, bmx",502,598,695,791
1,"Cyclisme, <10 mph, vélo de loisir",236,281,327,372
2,"Cyclisme, >20 mph, course",944,1126,1308,1489
3,"Cyclisme, 10-11,9 mph, léger",354,422,490,558
4,"Cyclisme, 12-13,9 mph, modéré",472,563,654,745
...,...,...,...,...,...
244,"Nettoyage, dépoussiérage",148,176,204,233
245,Sortir les poubelles,177,211,245,279
246,"Marcher, pousser un fauteuil roulant",236,281,327,372
247,"Enseigner l'éducation physique, la classe d'ex...",236,281,327,372
248,Enseigner des cours d'exercices (et participer),384,457,531,605

In [8]:
calorie = pd.read_csv('data/calories.csv')
calorie

        User_ID  Calories
0      14733363     231.0
1      14861698      66.0
2      11179863      26.0
3      16180408      71.0
4      17771927      35.0
...         ...       ...
14995  15644082      45.0
14996  17212577      23.0
14997  17271188      75.0
14998  18643037      11.0
14999  11751526      98.0

[15000 rows x 2 columns]

In [10]:
merge = pd.merge(exercice, calorie, how='inner', on = 'User_ID')

In [15]:
sports

,"Activité, Exercice ou Sport (1 heure)",59 kg,70.3 kg,81.6 kg,93 kg
0,"Cyclisme, VTT, bmx",502,598,695,791
1,"Cyclisme, <10 mph, vélo de loisir",236,281,327,372
2,"Cyclisme, >20 mph, course",944,1126,1308,1489
3,"Cyclisme, 10-11,9 mph, léger",354,422,490,558
4,"Cyclisme, 12-13,9 mph, modéré",472,563,654,745
...,...,...,...,...,...
244,"Nettoyage, dépoussiérage",148,176,204,233
245,Sortir les poubelles,177,211,245,279
246,"Marcher, pousser un fauteuil roulant",236,281,327,372
247,"Enseigner l'éducation physique, la classe d'ex...",236,281,327,372
248,Enseigner des cours d'exercices (et participer),384,457,531,605

In [16]:
merge

,User_ID,Genre,Age,Taille,Poids,Durée,Fréquence_cardiaque,Température_du_corps,Calories
0,14733363,Homme,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,Femme,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,Homme,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,Femme,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,Femme,27,154.0,58.0,10.0,81.0,39.8,35.0
...,...,...,...,...,...,...,...,...,...
14995,15644082,Femme,20,193.0,86.0,11.0,92.0,40.4,45.0
14996,17212577,Femme,27,165.0,65.0,6.0,85.0,39.2,23.0
14997,17271188,Femme,43,159.0,58.0,16.0,90.0,40.1,75.0
14998,18643037,Homme,78,193.0,97.0,2.0,84.0,38.3,11.0
14999,11751526,Homme,63,173.0,79.0,18.0,92.0,40.5,98.0

In [22]:
df_test = pd.merge(merge, sports, how='inner', left_on='Poids', right_on='Poids')

KeyError: 'Poids'