In [1]:
import psycopg
import pandas

In [2]:
! pip install psycopg

Requirement already satisfied: psycopg in /Users/marinelafargue/anaconda3/lib/python3.7/site-packages (3.0.15)
Requirement already satisfied: backports.zoneinfo>=0.2.0 in /Users/marinelafargue/anaconda3/lib/python3.7/site-packages (from psycopg) (0.2.1)
Requirement already satisfied: typing-extensions>=3.10 in /Users/marinelafargue/anaconda3/lib/python3.7/site-packages (from psycopg) (3.10.0.0)

In [3]:
import psycopg
import pandas as pd
import psycopg2

In [4]:

#conn = psycopg2.connect(
 #       user="clement",
 #       password="postgres",
  #      host="localhost",
   #     port="5432",
    #    database="diet"

In [5]:
param_dic = {
    "host"      : "localhost",
    "database"  : "diet",
    "user"      : "clement",
    "password"  : "postgres"
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

In [6]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [7]:
# Connect to the database
conn = connect(param_dic)
column_names = ["user_id","gender", "age", "height", "weight", "duration", "heart_rate", "body_temp", "calorie"]
# Execute the "SELECT *" query
df_db = postgresql_to_dataframe(conn, 
"SELECT persons.user_id as id, gender, age, height, weight, duration, heart_rate, body_temp,calorie FROM calories INNER JOIN persons ON calories.user_id = persons.user_id"
                                , column_names)
df_db.head()

Connecting to the PostgreSQL database...
Connection successful

,user_id,gender,age,height,weight,duration,heart_rate,body_temp,calorie
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0

In [8]:
df_db.shape

(15000, 9)

In [9]:
df_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     15000 non-null  int64
 1   gender      15000 non-null  object
 2   age         15000 non-null  int64
 3   height      15000 non-null  float64
 4   weight      15000 non-null  float64
 5   duration    15000 non-null  float64
 6   heart_rate  15000 non-null  float64
 7   body_temp   15000 non-null  float64
 8   calorie     15000 non-null  float64
dtypes: float64(6), int64(2), object(1)
memory usage: 1.0+ MB

In [10]:
cor_df = df_db.corr() 
cor_df['calorie'].sort_values(ascending= False )

calorie       1.000000
duration      0.955421
heart_rate    0.897882
body_temp     0.824558
age           0.154395
weight        0.035481
height        0.017537
user_id      -0.001661
Name: calorie, dtype: float64

In [11]:
x = df_db.drop(columns=['user_id','calorie'])
y = df_db['calorie']

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=5)

In [13]:
#Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_train['gender'] = le.fit_transform(X_train['gender'])
X_test['gender'] = le.fit_transform(X_test['gender'])
X_test

/Users/marinelafargue/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/marinelafargue/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

       gender  age  height  weight  duration  heart_rate  body_temp
10644       1   64   180.0    82.0      12.0        96.0       40.4
13951       1   39   194.0    93.0      18.0        89.0       40.3
8082        0   25   147.0    47.0      25.0       108.0       40.5
10284       0   72   146.0    49.0      22.0       103.0       40.5
13473       0   45   162.0    67.0      17.0        99.0       40.2
...       ...  ...     ...     ...       ...         ...        ...
1040        0   53   164.0    65.0      13.0        98.0       40.3
669         0   28   172.0    68.0       3.0        85.0       38.6
2729        1   20   179.0    75.0      17.0       109.0       40.3
9858        1   26   174.0    77.0       9.0        88.0       39.6
6090        0   61   150.0    55.0       2.0        87.0       38.5

[3000 rows x 7 columns]

In [14]:
# Regression linéaire simple

from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)
lr.score(X_test,y_test)

0.9674975501970083

In [15]:
# Randon forest

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
rf.score(X_test,y_test)

0.9979257421902668

In [16]:
#print(rf.predict([[1,68,190.0,94.0,29.0,105.0,40.8]]))

In [17]:
#print(rf.predict([[0,39,182.0,82.0,3600,150.0,40.0 ]]))

In [18]:
!pip install pickle

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [19]:
#load avec pickle

import pickle
# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(rf, open(filename, 'wb'))

In [20]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.9979257421902668

In [21]:
#load avec joblib
import joblib
joblib.dump(rf, filename)

['finalized_model.sav']

In [22]:
# load the model from disk
loaded_model = joblib.load(filename)
result = loaded_model.score(X_test, y_test)
print(result)

0.9979257421902668